.history-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: max-content;
    justify-content: space-between;
    position: relative;
}

.history__leftside{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.history__leftside-head{
    display: flex;
    flex-direction: column;
}

.history__leftside-head h2{
    font-size: 24px;
    font-weight: 600;
    color: var(--ColorH1);
}

.history__leftside-head span{
    font-size: 12px;
    font-weight: 400;
    color: var(--ColorSubTitle);
}

.edit{
    padding: 8px 12px;
    width: max-content;
}

.history__rightside{
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.history__rightside-left{
    color: var(--ColorSubTitle);
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
}

.history__rightside-left h2{
    font-weight: 700;
    font-size: 20px;
}

.history__rightside-right{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--ColorH1);
}

.history__rightside-right h2{
    font-size: 20px;
    font-weight: 400;
}

.history__note{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.history__note h1{
    font-size: 20px;
    line-height: 135%;
    color: var(--ColorSubTitle);
}

.history__note h2{
    font-size: 20px;
    font-weight: 700;
    color: var(--ColorH1);
}

.container.history{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: -50px;
    width: 24px;
    height: 24px;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.custom-checkbox span {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    position: relative;
}

.custom-checkbox input:checked + span {
    background-color: #007bff;
    border-color: #007bff;
}

.custom-checkbox span::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translateY(-50%) translateX(-100%);
    opacity: 0;
    top: 60%;
    left: 40%;
    transition: opacity 0.2s ease-in-out;
}

.custom-checkbox input:checked + span::after {
    opacity: 1;
}

.history-summary {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: var(--ColorH1);
}

.history__options{
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    width: 100%;
}


@media screen and (max-width: 1500px) {
    .container.history{
        padding: 0 72px;
    }

    .history__rightside{
        gap: 36px;
    }


    .history__note{
        width: 250px;
    }

}