.card {
    width: calc(25% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 36px;
    gap: 30px;
    border-radius: 16px;
    border: 1px solid var(--BorderGray);
    height: 421px;
    text-align: center;
}

.card:hover{
    box-shadow: 0 10px 30px #00000020;
    scale: 1.03;
}

.card img{
    border-radius: 100%;
    height: 160px;
    width: 160px;
    object-position: center;
    object-fit: cover;
    background-color: #ECECEC;
}

.card-title{
    font-size: 24px;
    font-weight: 600;
    color: var(--ColorH1);
    line-height: 100%;
}

.card hr{
    width: 100%;
    border: none;
    background-color: var(--BorderGray);
    min-height: 1px;
}
